$mainColor: #0864b2;
$mainColorAlpha: #52d0d6;
$secondColor: #fdbe19;
$secondColorAlpha: #fccf5f;
$thirdColor: #f44336;
$thirdColorAlpha: rgba(244, 67, 54, 0.747);
$colorRed: #f44336;
$colorPink: #e91e63;
$colorPurple: #9c27b0;
$colorBlue: #2196f3;
$colorLightGreen: #8bc34a;
$colorLime: #cddc39;
$colorLime-1: #f0f4c3;
$colorYellow: #ffeb3b;
$colorAmber: #ffc107;
$colorOrange: #ff9800;
$colorLightGrey: #fafafa;
$colorGrey: #e0e0e0;
$colorGrey1: #eeeded;
$colorGrey2: #9e9e9e;
$colorGrey3: #616161;
$colorGrey4: #424242;

/* Brown */

$colorBrown-0: #efebe9;
$colorBrown-1: #795548;
$colorBrown-2: #5d4037;
$colorBrown-3: #bf360c;
$ColorWhite: #fff;
$ColorBlack: #000;
$ColorDark: #212121;

/* */


/* Fonts  */

$mainFont: "Poppins";
$secondFont: "Open Sans";
$thirdFont: "Dosis";
// media queny width
$tablet_width: 600px;
$medium_width: 768px;
$smallscreen_width: 900px;
$smallbigscreen_width: 1000px;
$desktop_width: 1200px;
$desktopxl_width: 1400px;