    .ab_text {
        font-size: 18px;
    }
    
    .jumbotron_about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/fűrész.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
        overflow: hidden;
        background-attachment: fixed;
    }