$baColor1: #65661880;
$baColor2: #4a4b1280;
$baColor3: #34350e80;
$baColor4: #65661850;
$baColor5: #4a4b1220;
$baColor6: #34350e50;
.jumbotron_prod {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(fűrészeltfa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    overflow: hidden;
    @include tablet_screen {
        background-attachment: fixed;
    }
}

.carousel-indicators {
    top: 105%;
}

.carousel-indicators li {
    background-color: $baColor3;
}

.carousel-indicators li::after {
    box-shadow: 0px -0.5px 0px white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='baColor3' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='baColor3' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next {
    right: 0;
    width: 55px;
    @include smallscreen_screen {
        background-color: #b2b38b81;
    }
}

.carousel-control-prev {
    right: 0;
    width: 55px;
    @include smallscreen_screen {
        background-color: #b2b38b81;
    }
}

.mt-5,
.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.bg-transparent {
    background: transparent;
    padding-top: 0;
}

.bg-hirth {
    padding-right: 0;
    background: -moz-linear-gradient( top, $baColor1 25%, $baColor2 50%, $baColor3 100%);
    background: -webkit-linear-gradient( top, $baColor1 25%, $baColor2 50%, $baColor3 100%);
    background: linear-gradient( to bottom, $baColor1 25%, $baColor2 50%, $baColor3 100%);
}

.bg-prod {
    background: linear-gradient( to bottom, rgb(205, 205, 205) 25%, rgb(221, 221, 221) 50%, rgb(139, 139, 139) 100%);
}

.space_prod {
    margin-top: 80px;
    margin-bottom: 80px;
    // background-color: #b1b18b9f;
    padding-bottom: 80px;
    border: 1px solid rgba(105, 105, 105, 0.1);
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.1);
}

.card {
    min-height: 400px;
    .card-body a {
        position: absolute;
        bottom: 10px;
        width: 84% !important;
    }
    @include medium_screen {
        padding-bottom: 80px;
    }
    @include smallbigscreen_screen {
        padding-bottom: 0;
    }
}


/* // ------------------------ //
// popup
// ------------------------ // */

.popup-flex {
    margin: 30px;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 300px;
    border-radius: 5px;
}

.popup-content p {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    line-height: 20px;
}

.popup-content span {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.more-articles {
    margin: 30px 30px 50px;
    font-size: 20px;
}

.more-articles a {
    margin: 0 10px;
    text-decoration: underline;
}


/* // =========================== //
// Checkmark                   //
// =========================== // */

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

// popup //
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 270px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

.btn-outline-success {
    color: #5a715f;
    background-color: transparent;
    background-image: none;
    border-color: #5a715f;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: $baColor6;
    border-color: $baColor6;
}

.btn-outline-success:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: $baColor6;
    border-color: $baColor6;
    box-shadow: 0 0 0 0.2rem $baColor3;
}

.prod_text {
    font-size: 40px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
}